.superContainerAdmin {
	position: absolute;
	height: auto;
	width: 100vw;
	/* display: flex; */
	/* background: red; */
}
.adminContainer {
	position: relative;
	width: 50vw;
	/* height: 300px; */
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	text-align: center;
	/* border: 2px solid #fff; */
	background-color: whitesmoke;
	margin-top: 15px !important;
	margin-bottom: 15px !important;
}
.groupRadioButtons {
	display: flex;
	flex-direction: row;
}

.buttonSubmit {
	width: 15vw;
	height: auto;
	cursor: pointer;
	padding: 7px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.5);
	color: #2e2e2e;
	border: 2px solid #2e2e2e;
	-webkit-box-shadow: 0px 10px 13px -11px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
	box-shadow: 0px 10px 18px -11px #000000, 5px 5px 20px 5px rgba(0, 0, 0, 0);
}
.buttonSubmit:hover {
	color: rgba(255, 255, 255, 0.5);
	background-color: rgba(255, 0, 0, 0.25);
}

/* Images */
.uploadFileForm {
	margin-top: 0 !important;
	top: 0;
	/* padding: 5px; */
}
.inputForFile {
	position: absolute;
	margin: 0;
	padding: 0;
	width: auto;
	height: 80px;
	outline: none;
	opacity: 0;
	cursor: pointer;
}

.drag-text {
	border: 1px dashed #fff;
	border-radius: 10px;
	padding: 10px;
	height: 80px;
}

.file-return {
	margin: 0;
}
.file-return:not(:empty) {
	margin: 1em 0;
}
.js .file-return {
	font-style: italic;
	font-size: .9em;
	font-weight: bold;
}
.js .file-return:not(:empty):before {
	content: "Selected file: ";
	font-style: normal;
	font-weight: normal;
}

.buttonForSendFile {
	background: transparent;
	border: 1px solid #fff;
	padding: 5px;
	border-radius: 5px;
	margin-top: 15px;
}
.buttonForSendFile:hover {
	/* background: #fff; */
	text-decoration: underline;
}

/* End Images */

@media all and (max-width: 600px) {
	.adminContainer > input[type="email"] {
		width: 50vw;
	}
	.buttonSubmit {
		width: 35vw;
	}
}

.adminContainer {
	width: 80%;
	max-width: 420px;
	margin: 50px auto;
	padding: 1.3em;
	background: #2e2e2e;
	color: #fff;
	border-radius: .75em;
	-webkit-box-shadow: 0px 10px 13px -11px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
	box-shadow: 0px 10px 18px -11px #000000, 5px 5px 20px 5px rgba(0, 0, 0, 0);
}
.adminContainer > input[type="email"] {
	color: #2e2e2e;
}

input[type="checkbox"],
input[type="radio"] {
	position: absolute;
	opacity: 0;
	z-index: -1;
}
label[class="marca"] {
	position: relative;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	padding-left: 30px;
	padding-right: 10px;
	line-height: 36px;
	cursor: pointer;
	z-index: 1;
}
label[class="marca"]::before {
	content: " ";
	position: absolute;
	top: 6px;
	left: 0;
	display: block;
	width: 24px;
	height: 24px;
	border: 2px solid #fefbff;
	border-radius: 4px;
	z-index: -1;
}
input[type="radio"] + label::before {
	border-radius: 18px;
}
/* Checked */
input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
	padding-left: 10px;
	color: #fff;
}
input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
	top: 0;
	width: 100%;
	height: 100%;
	/* background: #8e44ad; */
	background: rgba(255, 255, 255, 0.5);
}
/* Transition */
label,
label::before {
	-webkit-transition: .25s all ease;
	-o-transition: .25s all ease;
	transition: .25s all ease;
}
