.adminContainer{
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid #fff;
  background-color: whitesmoke;
}
.groupRadioButtons{
  display: flex;
  flex-direction: row;
}

.buttonSubmit{
  width: 15vw;
  height: auto;
  cursor: pointer;
  padding: 7px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 10px;
  background-color:rgba(255,255,255,0.5);
  color: #2E2E2E;
  border: 2px solid #2E2E2E;
  -webkit-box-shadow: 0px 10px 13px -11px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 18px -11px #000000, 5px 5px 20px 5px rgba(0,0,0,0);
}
.buttonSubmit:hover{
  color:rgba(255,255,255,0.5);
  background-color: rgba(255,0,0,0.25);
}

@media all and (max-width: 600px){
  .adminContainer>input[type="email"]{
    width: 50vw;
  }
  .buttonSubmit{
    width: 35vw;
  }
}

.adminContainer {
  width: 80%;
  max-width: 420px;
  margin: 50px auto;
  padding: 1.3em;
  background: #2e2e2e;
  color: #fff;
  border-radius: .75em;
  -webkit-box-shadow: 0px 10px 13px -11px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 18px -11px #000000, 5px 5px 20px 5px rgba(0,0,0,0);
  /* -webkit-filter: drop-shadow(1px 2px 5px rgba(0,0,0,.3));
  filter: drop-shadow(1px 2px 5px rgba(0,0,0,.3));
  box-shadow: 
    0 2px 2px rgba(243,49,128,.5),
    0 0px 5px rgba(243,49,128,.15),
    0 0px 4px rgba(0,0,0,.35),
    0 5px 20px rgba(243,49,128,.25),
    0 15px 50px rgba(243,49,128,.75),
    inset 0 0 15px rgba(255,255,255,.05); */
}
.adminContainer>input[type="email"]{
  color: #2e2e2e;
}

input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
label[class="marca"] {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 10px;
  line-height: 36px;
  cursor: pointer;
  z-index: 1000;
}
label[class="marca"]::before {
  content: " ";
  position: absolute;
  top: 6px;
  left: 0;
  display: block;
  width: 24px;
  height: 24px;
  border: 2px solid #fefbff;
  border-radius: 4px;
  z-index: -1;
}
input[type="radio"] + label::before {
  border-radius: 18px;
}
/* Checked */
input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
  padding-left: 10px;
  color: #fff;
}
input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
  top: 0;
  width: 100%;
  height: 100%;
  /* background: #8e44ad; */
  background: rgba(255,255,255,0.5);
}
/* Transition */
label,
label::before {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}