/* .headerContainer{
  list-style: none;
  direction:  row;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2E2E2E;
  border: 2px solid red;
  color: rgba(255,255,255,0.5);

} */

.bodyContainer{
  width: calc(100%-5px);
  margin: 1px;
  border-radius: 5px;
  border: 1px solid #2E2E2E;
  /* align-content: center;
  align-items: center; */

}
.newHeader{
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}
.typeButtons{
  margin-left: auto;
}
.buttonTypeLeft{
  width: 15vw;
  cursor: pointer;
  padding: 7px;
  border-bottom-right-radius: 10px;
  -moz-border-bottom-right-radius: 10px;;
  -webkit-border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;;
  -webkit-border-top-right-radius: 10px;;
  border: 2px solid #2E2E2E;
}
.buttonTypeRight{
  width: 15vw;
  cursor: pointer;
  padding: 7px;
  margin: 0;
  border-bottom-left-radius: 10px;
  -moz-border-bottom-left-radius: 10px;;
  -webkit-border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-top-left-radius: 10px;;
  -webkit-border-top-left-radius: 10px;;
  border: 2px solid #2E2E2E;
}
.cardComponents{
  display: flex;
  justify-content: space-between;
}
.cardInput{
  width: calc((100vw - 5*10px)/4.1);
  height: auto;
  margin-top: -15px;
  margin-bottom: -15px;
}
.datesComponents{
  /* width: calc(100%-); */
}
.submitsButtons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.buttonSubmits{
  width: 15vw;
  cursor: pointer;
  padding: 7px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  color:rgba(255,255,255,0.5);
  background-color: #2E2E2E;
  border: 2px solid #2E2E2E;
}
.buttonSubmits:hover{
  background-color:rgba(255,255,255,0.5);
  color: #2E2E2E;
}
@media all and (max-width: 768px) and (min-width: 600px){
  .buttonTypeRight{
    width: 40vw;
  }
  .buttonTypeLeft{
    width: 40vw;
  }
  .typeButtons{
    margin-left: 0;
  }
  .newHeader{
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    align-items: center;
  }
  .cardComponents{
    /* -webkit-flex-flow: column wrap;
    flex-flow: column wrap; */
    flex-wrap: wrap;
    align-items: center;
    align-self: center;

  }
  .cardInput{
    width: calc((100vw - 30px)/2.2);
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media all and (max-width: 600px){
  .buttonTypeRight{
    width: 40vw;
  }
  .buttonTypeLeft{
    width: 40vw;
  }
  .typeButtons{
    margin-left: 0;
  }
  .newHeader{
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    align-items: center;
  }
}

@media all and (max-width: 600px){
  .cardComponents{
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    align-items: center;
    align-self: center;

  }
  .cardInput{
    width: calc((100vw - 30px));
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .buttonSubmits{
    width: 35vw;
  }
}
