.containerInterruption{
  color: #fff;
  height: calc(100vh - 6vh - 3*5px);
  width: 100vw;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.menuInterruptionState{
  width: 150px;
  cursor: pointer;
}

.cardInfoDetails{
  display: flex;
  flex-direction: column;
}
.viewInformation{
  width: 100%;
}

.viewReport{
  color: #3E3E3E;
  position: relative;
  background: transparent;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.textAreaCode{
  height: 99.35%;
  width: 99.35%;
  border-radius: 10px;
  outline: none;
}

.viewSummary{
  color: #3E3E3E;
}

.containerInfoInterruption{
  width: 98%;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  margin: 5px;
  background-color: #fff;
}
.cardInfoDetails{
  align-items: center;
  align-content: center;
  text-align: center;
  overflow: scroll;
}
.titleInterruption{
  width: 100%;
  background-color: #fff;
  padding: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 0!important;
}
.titleInfo{
  width: 100%;
  font-size: 12pt;
  padding: 3px;
  background-color: #3E3E3E;
  border-bottom: 1px solid #3E3E3E;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.body-info{
  width: 100%;
  color: #3E3E3E;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}
.mapItems{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-right: 5px;
  padding-left: 5px;
}

/* INPUTS REPORT */
.cardInfoInterruption{
  height: 100%;
  max-height: 100%;
  width: 100%;
  margin: 3px;
  border: 2px solid #fff;
  border-radius: 10px;
  display: flex;
}

.editableReport{
  height: 100%;
  width: 100%;
  max-width: 100%;
  cursor: text;
  color: #3E3E3E!important;
  border-radius: 10px;
  outline: none;
  font-family: sans-serif;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  /* background-color: rgba(255, 255, 255, 0.9); */
}

.editableReportContainer{
  width: 100%;
  height: auto;
  overflow:scroll;
}

.subjectContainer{
  width: 100%;
  height: 75px;
  overflow: scroll;
}

.containerHeaderFields{
  width: 100%;
  height: 100%;
  align-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  margin-bottom: 3px;
}

.viewCode{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.editableContainer{
  position: relative;
  height: 35.5%;
  width: 98%;
  margin: 1%;
  align-content: center;
  align-items: center;
  color: #3E3E3E;
  overflow-y: scroll;
  outline: none;
  resize: both;
}
.commentsContainer{
  position: relative;
  height: 50%;
  width: 98%;
  margin: 1%;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #3E3E3E;
  outline: none;
  resize: both;
}
.sendCommentContainer{
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.commentInput{
  padding: 7px;
  position: relative;
  height: 100%;
}
.buttonComment{
  position: relative;
  height: 100%;
  width: 10%;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  outline: none;
  border-radius: 0 0 5px 0;
  color: #000000;
  font-size: 14pt;
}
.buttonComment:hover{
  background: rgba(255, 0, 0, 0.12);
  color: #FFFFFF;
}


/* Buttons */
.SaveButtonContainer{
  position: relative;
  height: auto;
  width: 98%;
  margin: 1%;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
  color: #3E3E3E;
  outline: none;
  resize: both;
  border-radius: 5px;
}
.reportButtons{
  position: relative;
  width: auto;
  height: auto;
  cursor: pointer;
  padding: 7px;
  margin: 5px;
  border-radius: 10px;
  color:rgba(255,255,255,0.95);
  background-color: #2E2E2E;
  border: 2px solid #2E2E2E;
  -webkit-box-shadow: 0px 10px 13px -11px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 18px -11px #000000, 5px 5px 20px 5px rgba(0,0,0,0);
}
.reportButtons:hover{
  text-decoration: underline;
  filter: contrast(4);
}
/* End Buttons */
.subjectContainer>label{
  width: 100%;
  height: 100px;
}
.field>textarea {
  left: 0;
  width: 100%;
  height: 100%;
  resize: both;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: transparent;
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-size: 0.75em;
  line-height: 1.4em;
  transition: background-color 0.2s ease 0s;
  overflow-y: scroll;
}
.field{
  --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);
}
  
.field__input{ 
  background-color: transparent;
  border-radius: 0;
  border: none;
  width: 100px;
  height: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: inherit;
  font-size: 1em;
}

.field__input{ 
  background-color: transparent;
  border-radius: 0;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: inherit;
  font-size: 1em;
}

.field__input:focus::-webkit-input-placeholder{
  color: var(--uiFieldPlaceholderColor);
}

.field__input:focus::-moz-placeholder{
  color: var(--uiFieldPlaceholderColor);
  opacity: 1;
}

.a-field{
  display: inline-block;
}

.a-field__input{ 
  display: block;
  box-sizing: border-box;
  width: 100%;
}

.a-field__input:focus{
  outline: none;
}

.a-field{
  --uiFieldHeight: var(--fieldHeight, 40px);  
  --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
  --uiFieldBorderColor: var(--fieldBorderColor);

  --uiFieldFontSize: var(--fieldFontSize, 1em);
  --uiFieldHintFontSize: var(--fieldHintFontSize, 1em);

  --uiFieldPaddingRight: var(--fieldPaddingRight, 15px);
  --uiFieldPaddingBottom: var(--fieldPaddingBottom, 15px);
  --uiFieldPaddingLeft: var(--fieldPaddingLeft, 15px);   

  position: relative;
  box-sizing: border-box;
  font-size: var(--uiFieldFontSize);
  padding-top: 1em;  
}

.a-field .a-field__input{
  height: var(--uiFieldHeight);
  padding: 0 var(--uiFieldPaddingRight) 0 var(--uiFieldPaddingLeft);
  border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColor);  
}

.a-field .a-field__input::-webkit-input-placeholder{
  opacity: 0;
  transition: opacity .2s ease-out;
}

.a-field .a-field__input::-moz-placeholder{
  opacity: 0;
  transition: opacity .2s ease-out;
}

.a-field .a-field__input:not(:placeholder-shown) ~ .a-field__label-wrap .a-field__label{
  opacity: 0;
  bottom: var(--uiFieldPaddingBottom);
}

.a-field .a-field__input:focus::-webkit-input-placeholder{
  opacity: 1;
  transition-delay: .2s;
}

.a-field .a-field__input:focus::-moz-placeholder{
  opacity: 1;
  transition-delay: .2s;
}

.a-field .a-field__label-wrap{
  box-sizing: border-box;
  width: 100%;
  height: var(--uiFieldHeight);	

  pointer-events: none;
  cursor: text;

  position: absolute;
  bottom: 0;
  left: 0;
}

.a-field .a-field__label{
  position: absolute;
  left: var(--uiFieldPaddingLeft);
  bottom: calc(50% - .5em);

  line-height: 1;
  font-size: var(--uiFieldHintFontSize);

  pointer-events: none;
  transition: bottom .2s cubic-bezier(0.9,-0.15, 0.1, 1.15), opacity .2s ease-out;
  will-change: bottom, opacity;
}

.a-field .a-field__input:focus ~ .a-field__label-wrap .a-field__label{
  opacity: 1;
  bottom: var(--uiFieldHeight);
}

.a-field_a1 .a-field__input{
  transition: border-color .2s ease-out;
  will-change: border-color;
}

.a-field_a1 .a-field__input:focus{
  border-color: var(--fieldBorderColorActive);
}

.a-field_a2 .a-field__label-wrap:after{
  content: "";
  box-sizing: border-box;
  width: 0;
  height: var(--uiFieldBorderWidth);
  background-color: var(--fieldBorderColorActive);

  position: absolute;
  bottom: 0;
  left: 0;  

  will-change: width;
  transition: width .285s ease-out;
}

.a-field_a2 .a-field__input:focus ~ .a-field__label-wrap:after{
  width: 100%;
}

.a-field_a3{
  padding-top: 1.5em;
}

.a-field_a3 .a-field__label-wrap:after{
  content: "";
  box-sizing: border-box;
  width: 100%;
  height: 0;

  opacity: 0;
  border: var(--uiFieldBorderWidth) solid var(--fieldBorderColorActive);

  position: absolute;
  bottom: 0;
  left: 0;

  will-change: opacity, height;
  transition: height .2s ease-out, opacity .2s ease-out;
}

.a-field_a3 .a-field__input:focus ~ .a-field__label-wrap:after{
  height: 100%;
  opacity: 1;
}

.a-field_a3 .a-field__input:focus ~ .a-field__label-wrap .a-field__label{
  bottom: calc(var(--uiFieldHeight) + .5em);
}

.field{
  --fieldBorderColor: #D1C4E9;
  --fieldBorderColorActive: #673AB7;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin: 0;
  left: 50%;
  top: 50%;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}