
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

:root{
  --blue:rgba(79,192,210,1);
  --green:rgba(82,210,154,1);
  --yellow:rgba(231,196,104,0.7);
  --orange:rgba(235,118,85,1);
  --dark-bg:#3E3E3E;
  --light-bg:#2E2E2E;
  --text:rgba(255,255,255,0.9);  
}
.nfl a, .mlb a, .nhl a, .pga a {text-decoration:none;transition: color 0.2s ease-out;}
.nfl a {color:var(--blue);}
.mlb a {color:var(--green);}
.nhl a {color:var(--yellow);}
.pga a {color:var(--orange);}

.tableContainerT{
  height: calc(100vh - 5vh - 15vh);
  max-height:calc(100vh - 5vh - 15vh);
}

.tableContainerInterruption{
  width: 100%;
  height: 85%;
  align-self: center;
  align-items: center;
  align-content: center;
  max-height:calc(100vh - 5vh - 15vh);
  overflow: auto;
  display: inline-block;
  background-color: #3E3E3E;
}

.wrapper {
  width:auto;
  height: auto;
  margin:1px auto 0px auto;
  padding:0;
  border-radius:5px;
  background:var(--light-bg);
  color:var(--text);
  position:relative;
  display: flex;
  flex-direction: column;
}
.wrapperHead{
  width:100%;
  height: auto;
  margin:1px auto 0px auto;
  padding:0;
  border-radius:5px;
  color:var(--text);
  background-color: rgba(255, 255, 255, 0.15);
  position:relative;
  display: flex;
  flex-direction: column;
}

.rowTarget tr {
  margin:0;
  padding:0;
}

.testClass{
  background-color: red!important;
}

.title tr td {
  padding:15px 13px;
}
.rowTarget tr td {
  padding:5px 10px;
}

.rowTarget {
  height: 45px;
  width: 100%;
  cursor: pointer;
  position:relative;
  overflow:hidden;
  text-align: center;
  align-content: center;
  align-items: center;
  border-top:1px solid darken(var(--light-bg), 100%);
  display: flex;
  justify-content: space-around;
  overflow: scroll;
}
.rowTarget>td{
  margin: 1%;
}
.rowTarget:hover {
  border-radius: 5px;
  background-image: linear-gradient(
    0deg,
    rgba(255,255,255,0.15) 0%,
    rgba(255,255,255,0.15) 100%);
  animation: hoverTarget 3s 1;
}

.title {
  padding:25px 0 5px 0;
  height:45px;
  font-size:0;
  background-color:var(--light-bg);
  border-left:3px solid lighten(var(--light-bg), 100%);
}
.title:hover {
  background-color:var(--light-bg);
  border-left:3px solid lighten(var(--light-bg), 100%);
}

.nfl {border-left:3px solid darken(var(--blue), 30%);}
.nfl:hover {
  border-left:3px solid var(--blue);
  border-bottom:3px solid var(--blue);}
.mlb {border-left:3px solid darken(var(--green), 30%);}
.mlb:hover {border-left:3px solid var(--green);}
.nhl {border-left:3px solid darken(var(--yellow), 30%)}
.nhl:hover {border-left:3px solid var(--yellow);}
.pga {border-left:3px solid darken(var(--orange), 30%);}
.pga:hover {border-left:3px solid var(--orange);}

.rowTarget-fadeIn-wrapper {
  opacity:0;
  height:0;
  overflow:hidden;
  position:relative;
  transition:all 0.2s ease-out;
  animation:fadeIn 0.4s ease-out 2s 1 alternate;
  animation-fill-mode:forwards;
}
.rowTarget-fadeIn-wrapperHeader {
  opacity:0;
  height:0;
  overflow:hidden;
  position:relative;
  transition:all 0.2s ease-out;
  animation:fadeIn 0.4s ease-out 2s 1 alternate;
  animation-fill-mode:forwards;
}

.fadeIn {
  padding:20px 0;
  position:absolute;
  transition:all 0.2s ease-out;
  width:100%;
}
.fadeIn:hover {
  background-color:lighten(var(--dark-bg), 10%);
}

.rowTarget-fadeOut-wrapper {
  overflow:hidden;
  position:relative;
  transition:all 0.2s ease-out;
  animation:fadeOut 0.4s ease-out 8s 1 alternate;
  animation-fill-mode:forwards;
  opacity:1;
  height:65px;
}
@keyframes hoverTarget{
  0% {
    padding: 0;
    margin: 0;
    box-shadow:
                1px 1px #3e3e3e,
                2px 2px #3e3e3e,
                3px 3px #3e3e3e;
  }
  100% {
    -webkit-transition:height 3s ease-in-out;
    -moz-transition:height 3s ease-in-out;
    -o-transition:height 3s ease-in-out;
    transition:height 3s ease-in-out;
  }
}
