/* .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.bar{
  color: red;
  border-radius: 5px;
}

rect{
  color: red;
  background-color: red;
} */

#containerChart{
  /* background-color: rgba(255,0,0,0.25); */
  /* width: 400px; */
  /* height: 200px; */
}
.bridgeComponent{
  width: 100vw;
  height: 34vh;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 13px -11px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 18px -11px #000000, 5px 5px 20px 5px rgba(0,0,0,0);
  /* background-color: #cff; */

}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.tooltip{
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 10px 10px 10px;
    position: absolute;
    z-index: 1;
    /* bottom: 125%;
    left: 50%; */
    /* margin-left: -80px; */
}
.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* .legend{
  padding: 2px;
  -webkit-text-stroke-color: #2e2e2e;
  stroke: red;
  border-radius: 2px;
} */

.legend {
  background: #cff; border: 1px dashed black;
  cursor: pointer;
}
.legend:hover {
  background: #acc; border: 1px solid black;
}

.minimap{
  height:57.5vh;
  width: 49.5vw;
  margin: 1px 2px 2px 2px;
  /* background-color: red; */
  -webkit-box-shadow: 0px 10px 13px -11px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 18px -11px #000000, 5px 5px 20px 5px rgba(0,0,0,0);
}
.containersa{
  display: flex;
  flex-direction: row;
  max-width: 100vw;
}

@media all and (max-width: 768px){
  .containersa{
    flex-direction: column;
    max-width: 100vw;
  }
  .minimap{
    height:57.5vh;
    width: 98vw;
    margin: 1px 2px 2px 2px;
    /* background-color: red; */
    -webkit-box-shadow: 0px 10px 13px -11px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 18px -11px #000000, 5px 5px 20px 5px rgba(0,0,0,0);
  }
}