.listNav{
  list-style: none;
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  /* -webkit-flex-flow: row wrap; */
  background: #2E2E2E;
  color: rgba(255,255,255,0.5);
  overflow: hidden;
  align-items: center;
}
.listNav li {
  text-decoration: none;
  display: block;
  border-radius: 5px;
  padding: 0.5em;
  color: rgba(255,255,255,0.5);
  cursor: pointer;
}
.listNav li a{
  text-decoration: none;
  display: block;
  border-radius: 5px;
  color: rgba(255,255,255,0.5);
  cursor: pointer;
}
.listNav li :hover{
  color: whitesmoke
}

.headerItem:hover {
  color:#2E2E2E;
  background-color: rgba(255,255,255,0.5);
  border-radius: 5px;
}
.headerItemRight{
  margin-left: auto;
}

.listNav .icon {
  display: none;
}

/* @media all and (max-width: 800px) {
  .listNav {
    justify-content: space-around;
  }
} */

@media all and (max-width: 600px), all and (max-width: 800px) {
  .listNav li:not(:first-child) {display: none;}
  .listNav li.icon {
    float: right;
    display: block;
  }
}
@media all and (max-width: 600px), all and (max-width: 800px){
  .listNav.responsive {
    position: relative;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  .listNav.responsive .icon{
    position: absolute;
    right: -47vw;
    top: 0;
  }
  .listNav.responsive li{
    float: none;
    width: 100vw;
    text-align: center;
    display: block;
    right: 0;
    top: 0;
  }
  .searchItem{
    width: 50vw;
    left: 25vw;
  }

}
.searchIcon{
  color: #2E2E2E;
}
.searchItem{
  /* margin-left: auto; */
  border: 1px solid rgba(255,255,255,0.1);
  background:rgba(255,255,255,0.5);
  color: #2E2E2E;
  /* margin-top: -15px;
  margin-bottom: 15px; */
  border-radius: 30px;
  padding: 0! important;
  position: relative;
  align-self: center;
}
.searchItem .search{
  background: transparent;
  border: 0;
}

.avatar {
  vertical-align: middle;
  align-self: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0
}

.itemName:hover{
  text-decoration: underline rgba(255,255,255,0.5);
}
